@import "mixins";
@import "reset";
@import "transitions";
@import "fonts";
@import "modal";
html {
  height: 100%;
  &.locked,
  &.scroll-locked,
  Î &.locked body {
    overflow: hidden;
  }
}

body {
  font-family: "Gerbera";
  font-weight: 300;
  background-color: white;
  color: $black;
  cursor: default;
  min-width: 320px;
  height: 100%;
  // overflow-x: hidden;
}

#__nuxt,
.layout-default {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#__layout {
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  & > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
main {
  flex-grow: 1;
  overflow-x: hidden;
}
.container {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 400px) {
    padding: 0 10px;
  }
}
