* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

body {
  font-size: 18px;
  background-color: #fff;
}
